BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpaceBeforeAssignmentOperators: true

PointerAlignment: Right
DerivePointerAlignment: false

AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignTrailingComments: true

BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true

IncludeBlocks: Preserve
SortIncludes: Never

IndentCaseLabels: true
IndentGotoLabels: false

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

ForEachMacros:
  - SLIST_FOREACH
  - STAILQ_FOREACH
  - LIST_FOREACH
